!!!
html(xmlns="http://www.w3.org/1999/xhtml")
  head
    title= __i('SparkleShare Dashboard')
    meta(content="text/html; charset=UTF-8", http-equiv="Content-Type")
    link(rel='stylesheet', href=basepath + '/stylesheets/reset.css')
    link(rel='stylesheet', href=basepath + '/stylesheets/style.css')
    link(rel='SHORTCUT ICON', href=basepath + '/images/favicon.png', type="image/png")
    script(type='text/javascript', src=basepath + '/javascripts/jquery-1.6.2.min.js')
    script(type='text/javascript')
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-2174093-10']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  body
    #outerwrapper
      include includes/header
      #wrapper
        #content
          != messages()
          != body
        include includes/footer
